<a href="https://colab.research.google.com/github/PriyanshuRanjann/Python_Qn/blob/main/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **STAR PATTERN PROBLEM**

In [6]:
for i in range (0,4):
  for j in range (0,4):
    print("*",end=" ")
  print("\n")

* * * *

* * * *

* * * *

* * * *

In [7]:
for i in range(0,5):
  for j in range(0,i+1):
    print("*",end=" ")
  print("\n")

*

* *

* * *

* * * *

* * * * *

In [12]:
for i in range(6):
  for j in range(1,i+1):
    print(j,end=" ")
  print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [13]:
 for i in range(6):
  for j in range(1,i+1):
    print(i,end=" ")
  print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [23]:
 for i in range(6):
  for j in range(6-(i+1)):
    print("*",end=" ")
  print("\n")

* * * * *

* * * *

* * *

* *

*

In [27]:
 for i in range(6):
  for j in range(1,7-(i+1)):
    print(j,end=" ")
  print("\n")

1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [43]:
for i in range(5):
  for j in range(5-i-1):
    print(" ",end=" ")
  for j in range((2*i)+1):
    print("*",end=" ")
  print("\n")

        *

      * * *

    * * * * *

  * * * * * * *

* * * * * * * * *

In [49]:
for i in range(5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for j in range(10-((2*i)+1)):
    print("*",end=" ")
  print("\n")

* * * * * * * * *

  * * * * * * *

    * * * * *

      * * *

        *

In [50]:
for i in range(5):
  for j in range(5-i-1):
    print(" ",end=" ")
  for j in range((2*i)+1):
    print("*",end=" ")
  print("\n")
for i in range(5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for j in range(10-((2*i)+1)):
    print("*",end=" ")
  print("\n")

        *

      * * *

    * * * * *

  * * * * * * *

* * * * * * * * *

* * * * * * * * *

  * * * * * * *

    * * * * *

      * * *

        *

In [8]:
for i in range(0,5):
  for j in range(0,i+1):
    print("*",end=" ")
  print("\n")
for i in range(5):
  for j in range(5-(i+1)):
   print("*",end=" ")
  print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [4]:
start=1
for i in range(5):
  if i%2==0:
    start=1
  else:
    start=0
  for j in range (i):
    print(start,end=" ")
    start=1-start
  print("\n")

0

1 0

0 1 0

1 0 1 0

In [20]:
space = 2 * (4 - 1)
for i in range(1, 5):
    # Print the first set of numbers from 1 to i
    for j in range(1, i + 1):
        print(j, end="")

    # Print spaces
    for j in range(space):
        print(" ", end="")

    # Print the second set of numbers in reverse from i to 1
    for j in range(i, 0, -1):
        print(j, end="")

    # Move to the next line after each row is printed
    print()

    # Reduce the space by 2 for the next row
    space -= 2

1      1
12    21
123  321
12344321

In [27]:
num=1
for i in range(1,5):
  for j in range(i):
    print(num,end=" ")
    num=num+1
  print()

1
2 3
4 5 6
7 8 9 10

In [29]:
# Number of rows
n = 4

for i in range(1, n + 1):
    # Print the characters from 'A' to the i-th character
    for j in range(i):
        print(chr(65 + j), end=" ")
    # Move to the next line after each row is printed
    print()

A
A B
A B C
A B C D

In [30]:
# Number of rows
n = 4

for i in range(n + 1,0,-1):
    # Print the characters from 'A' to the i-th character
    for j in range(i):
        print(chr(65 + j), end=" ")
    # Move to the next line after each row is printed
    print()

A B C D E
A B C D
A B C
A B
A

In [33]:

n = 4

for i in range(0, n + 1):
    # Print the characters from 'A' to the i-th character
    for j in range(i):
        print(chr(64 + i), end=" ")
    # Move to the next line after each row is printed
    print()

A
B B
C C C
D D D D