<a href="https://colab.research.google.com/github/PriyanshuRanjann/Python_Qn/blob/main/SwappingElementsInPythonList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Python program to interchange first and last elements in a list

In [23]:

def swap(newList):
  y=len(newList)

  x=newList[0]
  newList[0]=newList[y-1]
  newList[y-1]=x

  return newList
n = int(input("Enter number of elements : "))
newList=[]

# iterating till the range
for i in range(0, n):
    ele = int(input())
    print("List: ",newList.append(ele))

print("swapped list:",swap(newList))

Enter number of elements : 4
34
List:  None
23
List:  None
2
List:  None
4
List:  None
swapped list: [4, 23, 2, 34]